@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
body{
    background-color: #007A78;
}
#main{
    background-color: #FF9B00;
    color: white;
    box-shadow: 10px 10px 20px #454545;
    margin-top: 20px; ;
}
.container-fluid{
    background-image: url("img/kép-removebg-preview.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
#nav{
    margin-top:70em;
    background-color: #ff9b00;
    border-radius: 10px;
}
#bel1{
    padding: 10px;
}
#bel1 p{
    margin: auto;
    text-align: center;
    padding: 10px;
    background-color: white;
    border-radius: 20px;
}

